@model OtelView
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utils.css">
    <title>Otel Detayı</title>
</head>
<body>

  <header class="main-header-otellerDetay secili-active">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning sticky-top">
            <div class="container-fluid">
                <h1 class="brand">
                    <i class="fa-solid fa-plane-departure" style="color: #1a1a19;"></i>
                </h1>
               <a class="navbar-brand ms-3" asp-action="Anasayfa" asp-controller="Anasayfa">Beşgün Turizm</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link "  asp-controller="Anasayfa" asp-action="Anasayfa" >Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Anasayfa" asp-action="Hizmetler">Hizmetler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " asp-controller="Anasayfa" asp-action="Oteller">Oteller</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Anasayfa" asp-action="TekneTurları">Tekne Turları</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Anasayfa" asp-action="YurtdisiTurlar">Yurtdışı Turlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Anasayfa" asp-action="İletişim">İletişim</a>
                        </li>
                    </ul>
                    
                    <a asp-controller="Kullanıcıİşlemleri" asp-action="Kayıt" class="btn border border-dark rounded-pill ms-auto me-2"><i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Giriş Yap ya da Kayıt Ol</a>
                    <a asp-controller="Kullanıcıİşlemleri" asp-action="Ayarlar" class="btn border border-dark rounded-circle me-2"><i class="fa-solid fa-gear"></i></a>
                    
                </div>
            </div>
        </nav>

    <div class="content-otellerDetay">
      <h1>@Model.adi</h1>
    </div>
  </header>

  <main>
    <div class="container">      
      
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="p-3 text-center">
            <img src="@Model.resimUrl" class="img-fluid rounded" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="mb-2 text-center">
            <h4 class="fst-italic"></i>@Model.adres</h4>
            <h4 class="fst-italic"></i>@Model.tema</h4>
            <h4 class="fst-italic">@Model.puan</h4>
          </div>

          <div class="row border rounded p-2 mb-3">
            <div class="col-1">
              <i class="fa-solid fa-bell-concierge fa-2x"></i>
            </div>
            <div class="col-10">
              <h6 class="mt-1">OTEL OLANAKLARI</h6>
              <p>Açık Havuz | Otopark | Kablosuz İnternet | Bar | Açık Restoran Çamaşırhane | Telefon ve Faks Hizmeti | Doktor Ücretli (isteğe bağlı)</p>
            </div>
          </div>

          <div class="row border rounded p-2">
            <div class="col-1">
              <i class="fa-solid fa-baby-carriage fa-2x"></i>
            </div>
            <div class="col-10">
              <h6 class="mt-1">ÇOCUK / BEBEK</h6>
              <p>Çocuk Kulübü | Çocuk Animasyonu | Çocuk Kaydırağı | Çocuk Oyun Parkı | Çocuk Büfesi</p>
            </div>
          </div>
        </div>
      </div>

      <form asp-action="Rezervasyon" asp-controller="Kullanıcıİşlemleri" method="get">
        <div class="row g-4 p-2 d-flex justify-content-center">
         
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="card" style="height: 30rem;">
                <img src="../img/3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Standart Oda</h3>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex justify-content-center">
                      <i class="fa-solid fa-utensils fs-5 me-3 mt-1"></i>
                      <p class="fs-5 ">Oda Kahvaltı</p>
                    </div>
                    <div class="p-2 bg-light ms-4">
                      <p><i class="fa-solid fa-circle-arrow-right me-2"></i>@(Model.fiyat * ViewBag.fiyatCarpan) TL</p>
                      <button class="btn btn-warning btn_rezervasyonStandartOda" type="submit" name="otel" value="1?@Model.idOtel?@ViewBag.girisTarihi?@ViewBag.cikisTarihi">Rezervasyon</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="card" style="height: 30rem;">
                <img src="../img/3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Manzaralı Oda</h3>
                  <div class="d-flex align-items-center justify-content-center">
                    <div>
                      <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-utensils fs-5 me-3 mt-1"></i>
                        <p class="fs-5 ">Her Şey</p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-water fs-5 me-3 mt-1"></i>
                        <p class="fs-5 ">Deniz Manzarası</p>
                      </div>
                    </div>
                
                    <div class="p-2 bg-light ms-4">
                      <p><i class="fa-solid fa-circle-arrow-right me-2"></i>@(Model.fiyat * ViewBag.fiyatCarpan * 1.5) TL</p>
                      <button class="btn btn-warning btn_rezervasyonDenizOda" type="submit" name="otel" value="1.5?@Model.idOtel?@ViewBag.girisTarihi?@ViewBag.cikisTarihi">Rezervasyon</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="card" style="height: 30rem;">
                <img src="../img/3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Suite Oda</h3>
                  <div class="d-flex align-items-center justify-content-center">
                    <div>
                      <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-utensils fs-5 me-3 mt-1"></i>
                        <p class="fs-5 ">Her Şey</p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-water fs-5 me-3 mt-1"></i>
                        <p class="fs-5 ">Deniz Manzarası</p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-hot-tub-person fs-5 me-3 mt-1"></i>
                        <p class="fs-5 ">Jakuzi</p>
                      </div>
                    </div>
                
                    <div class="p-2 bg-light ms-4">
                      <p><i class="fa-solid fa-circle-arrow-right me-2"></i>@(Model.fiyat * ViewBag.fiyatCarpan * 2) TL</p>
                      <button class="btn btn-warning btn_rezervasyonSuitOda" type="submit" name="otel" value="2?@Model.idOtel?@ViewBag.girisTarihi?@ViewBag.cikisTarihi">Rezervasyon</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </form> 
      
      <h3 class="mt-3">Genel Şartlar</h3>
      <div class="row g-4 p-2 d-flex justify-content-center mb-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <h5 class="fw-bold">Ücrete Dahil Olan Hizmetler</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, impedit praesentium similique beatae dolore animi obcaecati voluptatem quam sunt veniam ducimus officiis pariatur? Eligendi voluptate repudiandae deleniti numquam suscipit repellendus, laboriosam eum consequuntur iure. Impedit veritatis nulla eum voluptatem est nesciunt totam doloremque ullam vel, excepturi obcaecati atque, corporis voluptate?</p>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <h5 class="fw-bold">Ücrete Dahil Olmayan Hizmetler</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, impedit praesentium similique beatae dolore animi obcaecati voluptatem quam sunt veniam ducimus officiis pariatur? Eligendi voluptate repudiandae deleniti numquam suscipit repellendus, laboriosam eum consequuntur iure. Impedit veritatis nulla eum voluptatem est nesciunt totam doloremque ullam vel, excepturi obcaecati atque, corporis voluptate?</p>
        </div>
      </div>
      
    </div>
  </main>


  
   <footer class="footer bg-light mt-2">
        <div class="container">
            <div class="row g-2 p-2 d-flex justify-content-center">

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>Popüler bölgeler</h4>
                    <p class="text-muted mb-0">Antalya Otelleri</p>
                    <p class="text-muted mb-0">Alanya Otelleri</p>
                    <p class="text-muted mb-0">Ayvalık Otelleri</p>
                    <p class="text-muted mb-0">Kemer Otelleri</p>
                    <p class="text-muted mb-0">Kuşadası Otelleri</p>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>Keşfet!</h4>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="Oteller" class="link-secondary"><i class="fa-solid fa-hotel me-2"></i>Otel</a></div>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="TekneTurları" class="link-secondary"><i class="fa-solid fa-ship me-2"></i>Tekne Turları</a></div>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="YurtdisiTurlar" class="link-secondary"><i class="fa-solid fa-plane me-2"></i>Yurtdışı Turlar</a></div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>Kurumsal</h4>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="İletişim" class="link-secondary mb-3"><i class="fa-solid fa-phone me-2"></i>İletişim</a></div>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>BeşGün Turizm</h4>
                    <p>Copyright © 2023 BeşGün Turistik Servisleri A.Ş. Tüm hakları saklıdır. Kullanım Sözleşmesi | Gizlilik Sözleşmesi | Kişisel Verilerin Korunması ve İşlenmesi Politikası</p>
                </div>
            </div>
        </div>
   </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>