@model List<RezervasyonViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utils.css">
    <title>Document</title>
</head>
<body>



   
    <header class="main-header-ayarlar secili-active">
          <nav class="navbar navbar-expand-lg navbar-light bg-warning sticky-top">
                <div class="container-fluid">
                    <h1 class="brand">
                        <i class="fa-solid fa-plane-departure" style="color: #1a1a19;"></i>
                    </h1>
                   <a class="navbar-brand ms-3" asp-action="Anasayfa" asp-controller="Anasayfa">Beşgün Turizm</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link"  asp-controller="Anasayfa" asp-action="Anasayfa" >Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Anasayfa" asp-action="Hizmetler">Hizmetler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Anasayfa" asp-action="Oteller">Oteller</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Anasayfa" asp-action="TekneTurları">Tekne Turları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Anasayfa" asp-action="YurtdisiTurlar">Yurtdışı Turlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Anasayfa" asp-action="İletişim">İletişim</a>
                            </li>
                        </ul>
                    
                        <a asp-controller="Kullanıcıİşlemleri" asp-action="Kayıt" class="btn border border-dark rounded-pill ms-auto me-2"><i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Giriş Yap ya da Kayıt Ol</a>
                        <a asp-controller="Kullanıcıİşlemleri" asp-action="Ayarlar" class="active btn border border-dark rounded-circle me-2"><i class="fa-solid fa-gear"></i></a>
                    
                    </div>
                </div>
            </nav>
  
          <div class="container text-dark">
            <h3 class="message" style=" color: antiquewhite;font-size: 2rem;opacity: 0.8;">@ViewBag.Message</h3>
          
            <div class="row g-4 d-flex justify-content-center mt-5">
                   
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                        <form asp-action="Ayarlar" asp-controller="Kullanıcıİşlemleri" method="post">
                        @Html.AntiForgeryToken()
                        <div class="p-2 bg-light bg-opacity-50 rounded me-3">
                            <div class="d-flex align-items-center border-bottom p-2">
                                <i class="fa-solid fa-user rounded-circle bg-dark p-2" style="color: #c69939;"></i>
                                <span class="me-auto ms-2 fs-3">İsim Soyisim</span>
                            </div>
                            <div class="d-flex align-items-center border-bottom p-1 active-hesabim" id="hesabim">
                                <button type="button" class="btn w-100 rounded-0 btn_hesabim">
                                    <i class="fa-regular fa-user" style="color: #0e0f10;"></i>
                                    <span class="me-auto ms-2 fs-5">Hesabım</span>
                                    <i class="fa-solid fa-arrow-right ms-auto" style="color: #0e0f11;"></i>
                                </button>
                            </div>
                            <div class="d-flex align-items-center border-bottom p-1 active-rezervasyon" id="rezervasyon">
                                <button type="button" class="btn w-100 rounded-0 btn_rezervasyon">
                                    <i class="fa-solid fa-suitcase-rolling" style="color: #0d0f12;"></i>
                                    <span class="me-auto ms-2 fs-5">Rezervasyonlarım</span>
                                    <i class="fa-solid fa-arrow-right ms-auto" style="color: #0e0f11;"></i>
                                </button>
                            </div>
                            <div class="d-flex align-items-center border-bottom p-1 active-cikisYap" id="cikisYap">
                                <button type="submit" name="hesap" value="cikisYap" class="btn w-100 rounded-0 btn_cikisYap">
                                    <i class="fa-solid fa-arrow-right-from-bracket" style="color: #070709;"></i>
                                    <span class="me-auto ms-2 fs-5">Çıkış Yap</span>
                                    <i class="fa-solid fa-arrow-right ms-auto" style="color: #0e0f11;"></i>
                                </button>
                            </div>
                            <div class="d-flex align-items-center p-1 active-hesabiSil" id="hesabiSil">
                                <button type="submit" name="hesap" value="hesabiSil" class="btn w-100 rounded-0 btn_hesabiSil">
                                    <i class="fa-regular fa-trash-can" style="color: #0d0f11;"></i>
                                    <span class="me-auto ms-2 fs-5">Hesabımı Sil</span>
                                    <i class="fa-solid fa-arrow-right ms-auto" style="color: #0e0f11;"></i>
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                   
                   
                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12" id="divHesabim">
                                   
                        <div class="p-2 bg-light bg-opacity-50 rounded">
                            <form id="myForm" method="post" asp-action="Ayarlar" asp-controller="Kullanıcıİşlemleri">
                            <h2 class="border-bottom p-2">Hesabım</h2>
                            <h5 class="p-2">Bilgileriniz</h5>
                            
                            <div class="d-flex justify-content-center align-items-center p-3">
                                <div class="form-floating me-3">
                                    <input type="name" class="form-control formisim myElement" id="adi" name="adi" value="@Model[0].Rezervasyon.adi" required>
                                    <label for="adi">İsim</label>
                                </div>
                                <div class="form-floating">
                                    <input type="surname" class="form-control formsoyad myElement" id="soyadi" name="soyadi" value="@Model[0].Rezervasyon.soyadi" required>
                                    <label for="soyadi">Soyisim</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center p-3">
                                <div class="form-floating me-3">
                                    <input type="email" class="form-control formemai myElementl" id="eposta" name="eposta" value="@Model[0].Rezervasyon.epostaAdresi" required>
                                    <label for="eposta">E-Posta Adresi</label>
                                </div>
                                <div class="form-floating">
                                    <input type="phone" class="form-control formtelefon myElement" id="telefonNumarasi" name="telefonNumarasi" value="@Model[0].Rezervasyon.telefonNumarasi" required>
                                    <label for="telefonNumarasi">Telefon</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center p-3 mb-3">
                                <div class="form-floating me-3">
                                    <input type="password" class="form-control formsifre myElement" id="sifre" name="sifre" value="@ViewBag.sifre" required>
                                    <label for="sifre">Şifre</label>
                                </div>
                                <div class="form-floating">
                                    <input type="date" class="form-control formdogumTarihi myElement" id="dogumTarihi" name="dogumTarihi" value="@ViewBag.dogumTarihi.ToString("yyyy-MM-dd")" min="1923-01-01" max="2030-12-31" required style="width: 13.5rem;">
                                    <label for="dogumTarihi">Doğum Tarihi</label>
                                </div>
                            </div>

                            <div class="text-center ms-auto me-2">
                               <button class="btn btn-dark p-2" type="submit" style="width: 10rem;">Güncelle</button>
                            </div>
                            </form>
                        </div>
                    </div>
                   
                   
                     <!-- Rezervasyonlarım -->
                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 position-absolute top-50 start-50 translate-middle" id="divRezervasyon">
                        <form asp-action="RezervasyonDüzenle" asp-controller="Kullanıcıİşlemleri" method="get">
                        @Html.AntiForgeryToken()
                        <div class="p-2 bg-light bg-opacity-50 rounded">
                            <h2 class="border-bottom p-2">Rezervasyonlarım</h2>

                            <div class="row p-3 d-flex align-items-center">
                            
                                <div class="card shadow-sm rounded mb-2">
                                    <div class="row">
                                        @foreach (RezervasyonViewModel rezervasyon in Model)
                                        {
                                            <div class="d-flex justify-content-between p-2">
                                                <div class="d-flex me-3">
                                                <img src="@rezervasyon.HizmetBase.resimUrl" class="img-fluid card-img-top me-2" style="width: 12rem;" alt="">
                                                <div>
                                                    <div class="d-flex lh-1">
                                                        <p class="fw-bold me-3">Yetişkin Sayısı:</p>
                                                        <p>@rezervasyon.Rezervasyon.yetiskinSayisi</p>
                                                    </div>
                                                    <div class="d-flex lh-1">
                                                        <p class="fw-bold me-3">Çocuk Sayısı:</p>
                                                        <p>@rezervasyon.Rezervasyon.cocukSayisi</p>
                                                    </div>
                                                    <div class="d-flex lh-1">
                                                        <p class="fw-bold me-3">Telefon:</p>
                                                        <p>@rezervasyon.Rezervasyon.telefonNumarasi</p>
                                                    </div>
                                                    <div class="d-flex lh-1">
                                                        <p class="fw-bold me-3">İsim Soyisim:</p>
                                                        <p>@rezervasyon.Rezervasyon.adi @rezervasyon.Rezervasyon.soyadi</p>
                                                    </div>
                                                </div>
                                                    <div>
                                                        <div class="d-flex lh-1">
                                                            <p class="fw-bold me-3">Rezervasyon Tarihi:</p>
                                                            <p>@rezervasyon.Rezervasyon.tarihi</p>
                                                        </div>
                                                        <div class="d-flex lh-1">
                                                            <p class="fw-bold me-3">Rezervasyon Adı:</p>
                                                            <p>@rezervasyon.HizmetBase.adi</p>
                                                        </div>
                                                        <div class="d-flex lh-1">
                                                            <p class="fw-bold me-3">Rezervasyon Fiyatı:</p>
                                                            <p>@rezervasyon.HizmetBase.fiyat TL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-1">
                                                <button type="submit" name="rezervasyonDetay" value="@rezervasyon.Rezervasyon.idRezervasyon" class="btn btn-outline-dark me-3 w-50">Düzenle / İptal Et !</button>
                                            </div>
                                        }
                                   
                                    </div>
                                </div>
                            
                            </div>
              
                        </div>
                        </form>
                    </div>
                   
               
              
            </div>
          </div>
    </header>


  
   <footer class="footer bg-light mt-2">
        <div class="container">
            <div class="row g-2 p-2 d-flex justify-content-center">

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>Popüler bölgeler</h4>
                    <p class="text-muted mb-0">Antalya Otelleri</p>
                    <p class="text-muted mb-0">Alanya Otelleri</p>
                    <p class="text-muted mb-0">Ayvalık Otelleri</p>
                    <p class="text-muted mb-0">Kemer Otelleri</p>
                    <p class="text-muted mb-0">Kuşadası Otelleri</p>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>Keşfet!</h4>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="Oteller" class="link-secondary"><i class="fa-solid fa-hotel me-2"></i>Otel</a></div>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="TekneTurları" class="link-secondary"><i class="fa-solid fa-ship me-2"></i>Tekne Turları</a></div>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="YurtdisiTurlar" class="link-secondary"><i class="fa-solid fa-plane me-2"></i>Yurtdışı Turlar</a></div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>Kurumsal</h4>
                    <div class="row"><a asp-controller="Anasayfa" asp-action="İletişim" class="link-secondary mb-3"><i class="fa-solid fa-phone me-2"></i>İletişim</a></div>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-3">
                    <h4><i class="fa-solid fa-chevron-down fa-2x me-2"></i>BeşGün Turizm</h4>
                    <p>Copyright © 2023 BeşGün Turistik Servisleri A.Ş. Tüm hakları saklıdır. Kullanım Sözleşmesi | Gizlilik Sözleşmesi | Kişisel Verilerin Korunması ve İşlenmesi Politikası</p>
                </div>
            </div>
        </div>
   </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../js/ayarlar.js"></script>
    
</body>
</html>